# U.S. Medical Insurance Costs

Did not learn pandas yet, but was in a call with a friend who knows Python and gave me a quick introduction to pandas as I was making this project in a very inefficient way.

Turned out that I really like pandas! :)))

Game plan to solve this project:

1. Goals
    1. Average age of the patients in the dataset
    2. Analyze where majority of the individuals come from
    3. Look at the different costs between smokers vs non-smokers
    4. Figure out what the average age is for someone who has at least one child this dataset
2. Gather data
3. Analytical steps

In [16]:
import pandas as pd

data = pd.read_csv('/Users/driesdederen/Desktop/Web Development/Data Science/python-portfolio-project-starter-files/insurance.csv')
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [17]:
#average age compute
data['age']

average = sum(data['age'])/len(data['age'])
print(average)

39.20702541106129

In [20]:
#Count regions
regions = data['region']
regions.value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [28]:
#Look at difference between smokers and non smokers
#smokers
smokers = data[data.smoker=='yes']
sum_smokers = sum(smokers.charges)
average_smokers = sum_smokers / len(smokers)
print(average_smokers)

#nonsmokers
non_smokers = data[data.smoker=='no']
sum_non_smokers = sum(non_smokers.charges)
average_non_smokers = sum_non_smokers / len(non_smokers)
print(average_non_smokers)

32050.23183153285
8434.268297856199

In [30]:
#Figure out what the average age is for someone who has at least one child this dataset
more_than_one = data[data.children >= 1]
average_age = sum(more_than_one['age']) / len(more_than_one)
print(average_age)

39.78010471204188